.footer-container {
    width: 100%;
    display: flex;
    justify-content: space-around; 
    align-items: center; 
    background-color:rgba(155, 159, 163, 0.658);
    height: 40px;
    border-top: 1px solid black;
}

.icon-button {
    border: 3px solid black;
    border-radius: 3px; 
    padding: 5px;
}

.icon-button:hover {
    background-color: lightblue;
}