.groups-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  align-items: flex-start;
}
.group-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem;
    border-radius: 5px;
    border: 0.5px solid rgba(var(--background-grey, 0.5));
    box-shadow: 0 0 5px 0 rgba(var(--background-grey, 0.5));
    transition: all 0.2s;
}

.group-card:hover {
  transform: scale(1.02);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
.groups-container button:hover {
    background-color: #E2DDEC;
}

.groups-list {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    gap: 0.5rem;
}