.groups-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
}

.groups-container h1 {
    font-weight: 450;
    border-bottom: 3px solid black;
    align-self: center;
}

.groups-container h5 {
    font-weight: 400;
    font-size: large;
}

.groups-container button {
    height: 3rem;
    padding: 2rem;
    background-color: rgba(155, 159, 163, 0.658); 
}
.groups-container button:hover {
    background-color: lightblue;
}

.current-group {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
}

.all-groups {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    gap: 1rem;
}

@media (min-width: 768px) {
    .groups-container {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 40%;
        
    }
}