.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.dialog span {
    font-weight: 600;
}

.input-container {
    display: flex; 
    flex-direction: column;
    gap: 0.75rem;
    margin-top: 3rem;
    width: 100%;
}

.home-container button {
    padding: 1rem 1.5rem;
    margin-top: 2rem;
    border-radius: 8px;
    border: 0.5px solid rgba(var(--accent-purple));
    background-color: rgba(var(--accent-purple), 0.7);
    color: white;
    font-weight: 600;
}