.profile-icon-container {
    border-radius: 25%; 
    background-color: rgb(240, 238, 238);
    width: 150px;
    height: 150px;
}

.react-icon {
    width: 100%;
    height: 100%; 
}
.actual-image {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}