.status-wrapper {
    display: flex;
    flex-direction: column; 
}

.status-wrapper h1 {
    /* margin-bottom: 1.5rem; */
}

.status-wrapper button {
  background-color: #E2DDEC;
  border: 0.5px solid rgba(var(--text-purple, 0.2));
}
.members-status{
    padding-bottom: 1rem;
    border-bottom: 1px solid black; 
}
.total-owed {
    display: flex;
    flex-direction: row; 
    align-items: center; 
    margin-top: 1rem;
}

.total-owed p {
    margin-right: 1rem;
    color: #000;
}

.leader-btns {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}