.status-wrapper {
    display: flex;
    flex-direction: column; 
}

.status-wrapper h3 {
    font-weight: 400; 
    font-size: 30px;
    border-bottom: 3px solid black; 
}
.status-wrapper span {
}
.status-wrapper button {
    width: 100px;
    height: 50px;
    border-radius: 9999px;
    align-self: center;
}
.members-status{
    border-bottom: 3px solid black; 
}
.total-owed {
    display: flex;
    flex-direction: row; 
    align-items: center; 
}
.total-owed p {
}
.total-owed span {
}
